body{
  text-align: center;
}

img{
  height: 15rem;
  width: 20rem;
}

.center{
  width: 26vw;
  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
